@model List<GuildCars.Models.Tables.Vehicle>
@{
    ViewBag.Title = "Used";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="top-left">Used Vehicles</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 panel-body boxed">
        <div class="row">
            <div class="col-lg-1"><h5 class="top-left">Quick Search</h5></div>
            <div class="col-sm-4"><input type="text" class="form-control" placeholder="Enter make, model, or year" id="searchbar"></div>
            <div class="col-sm-1"><h5>Price</h5></div>
            <div class="col-sm-1">
                <select id="priceMin">
                    <option value="0">No Min</option>
                    @for (int i = 0; i < 50000; i += 1000)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
            <div class="col-sm-1">
                <select id="priceMax">
                    <option value="0">No Max</option>
                    @for (int i = 0; i <= 50000; i += 1000)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-sm-1"><h5>Year</h5></div>
        <div class="col-sm-1">
            <select id="yearMin">
                <option value="0">No Min</option>
                @for (int i = 1990; i < 2017; i += 1)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="col-sm-1">
            <select id="yearMax">
                <option value="0">No Max</option>
                @for (int i = 1990; i <= 2017; i += 1)
                {
                    <option value="@i">@i</option>
                }
            </select>
        </div>
        <div class="row">
            <div class="col-sm-12"><button type="button" id="searchButton" class="btn btn-secondary center-block">Search</button></div>
        </div>
    </div>
    <div id="searchResults">

    </div>
</div>

@section Scripts
{
<script>
    $(document).ready(function () {
        $("#searchButton").click(function () {
            search();
        });

    });

    function search() {

        $.ajax({
            type: 'POST',
            url: 'http://localhost:61267/api/inventory/used/search',
            data: JSON.stringify({
                input: $('#searchbar').val(),
                pricerangeMin: $('#priceMin').val(),
                pricerangeMax: $('#priceMax').val(),
                yearMin: $('#yearMin').val(),
                yearMax: $('#yearMax').val(),
            }),
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            'dataType': 'json',
            success: function (results) {
                $('#searchResults').empty();
                $.each(results, function (index, vehicle) {
                    var html = '<tr>';
                    html += '<td> <img src="' + vehicle.ImagePath + '" class="img-responsive" /> </td>';
                    html += '<td>' + vehicle.Year + '</td>';
                    html += '<td>' + vehicle.Make + '</td>';
                    html += '<td>' + vehicle.ModelName + '</td>';
                    html += '<td>' + vehicle.BodyStyleName + '</td>';
                    html += '<td>' + vehicle.TransmissionName + '</td>';
                    html += '<td>' + vehicle.VehicleColor + '</td>';
                    html += '<td>' + vehicle.InteriorColor + '</td>';
                    html += '<td>' + vehicle.Mileage + '</td>';
                    html += '<td>' + vehicle.Vin + '</td>';
                    html += '<td>' + vehicle.ActualListedPrice + '</td>';
                    html += '<td>' + vehicle.MSRP + '</td>';
                    html += '</tr>';

                    $('#searchResults').append(html);
                });
                console.log(results)
            },
            error: function () {
                console.log(status);
            }
        });
    };


</script>
}